
body {
    background: url(../image/fon3.png);
}
header{
    margin-top: 40px ;
    font-family: 'Cuprum', sans-serif;
}
.main_menu *{
    margin: 0;
    padding: 0;
}
.main_menu ul,
.main_menu ol{
    list-style: none;
}
.main_menu > ul{
    display: flex;
    justify-content: center;
}
.main_menu > ul li a{
display: block;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100 */
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
padding: 15px 30px 15px 40px;
font-size: 20px;
color: #454547;
text-decoration: none;
text-transform: uppercase;
transition: all 1s ease;
}
.main_menu > ul li{
    position: relative;
    border-right:1px solid #c7c8ca;
    z-index: 1;
} 
.main_menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;

}
.main_menu > ul li:last-child{
    border-right: 1px solid #babbbb;
    
}
.main_menu li a:hover{
    background-color: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 1.5s ease;
}


/*submenu*/
.main_menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
    z-index: 1;

}
.main_menu li > ul li{
    border: 1px solid #c7c8ca;
}
.main_menu li >ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
    
}
.main_menu li:hover > ul {
    display: block;
}

.submenu {
    position: relative;
    right: -150px;
    top: -40px;
    z-index: 1;
}

h1 {
    width: 700px;
    height: 720px;
    position: relative;
    left: 410px;
    background: rgb(212,223,226);
    background: linear-gradient(90deg, rgba(212,223,226,0.950315160243785) 35%, rgba(83,75,56,0.37608546836703427) 98%);
    

}



/*Widget weather */

.app{
    background-color: #5C7AFF;
    color:#fff;
    width:300px;
    margin: 20vh auto;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    padding:50px;
}

.app h1{
    font-size: 5em;
    padding:10px;
    margin-left:25px;
    font-weight: 300;
}

.app h2{
    font-weight: 300;
    letter-spacing: 5px;
}

/*Loader*/
.bubblingG {
	text-align: center;
	width:170px;
	height:106px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 21px;
	margin: 53px auto;
	background: rgb(75,25,227);
	border-radius: 106px;
		-o-border-radius: 106px;
		-ms-border-radius: 106px;
		-webkit-border-radius: 106px;
		-moz-border-radius: 106px;
	animation: bubblingG 2.47s infinite alternate;
		-o-animation: bubblingG 2.47s infinite alternate;
		-ms-animation: bubblingG 2.47s infinite alternate;
		-webkit-animation: bubblingG 2.47s infinite alternate;
		-moz-animation: bubblingG 2.47s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.74s;
		-o-animation-delay: 0.74s;
		-ms-animation-delay: 0.74s;
		-webkit-animation-delay: 0.74s;
		-moz-animation-delay: 0.74s;
}

#bubblingG_3 {
	animation-delay: 1.48s;
		-o-animation-delay: 1.48s;
		-ms-animation-delay: 1.48s;
		-webkit-animation-delay: 1.48s;
		-moz-animation-delay: 1.48s;
}



@keyframes bubblingG {
	0% {
		width: 21px;
		height: 21px;
		background-color:rgb(76,144,222);
		transform: translateY(0);
	}

	100% {
		width: 51px;
		height: 51px;
		background-color:rgb(163,205,214);
		transform: translateY(-45px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 21px;
		height: 21px;
		background-color:rgb(76,144,222);
		-o-transform: translateY(0);
	}

	100% {
		width: 51px;
		height: 51px;
		background-color:rgb(163,205,214);
		-o-transform: translateY(-45px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 21px;
		height: 21px;
		background-color:rgb(76,144,222);
		-ms-transform: translateY(0);
	}

	100% {
		width: 51px;
		height: 51px;
		background-color:rgb(163,205,214);
		-ms-transform: translateY(-45px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 21px;
		height: 21px;
		background-color:rgb(76,144,222);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 51px;
		height: 51px;
		background-color:rgb(163,205,214);
		-webkit-transform: translateY(-45px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 21px;
		height: 21px;
		background-color:rgb(76,144,222);
		-moz-transform: translateY(0);
	}

	100% {
		width: 51px;
		height: 51px;
		background-color:rgb(163,205,214);
		-moz-transform: translateY(-45px);
	}
}

